/* fonts */
/* COLORS */
/* VAR */
.ant-popover-inner {
  max-width: 345px;
}
.ant-popover-inner-content {
  padding: 30px 32px;
}
.ant-popover-inner-content .link {
  margin-bottom: 1rem;
}
.ant-popover-inner-content .all-download {
  position: absolute;
  right: 25px;
  bottom: 27px;
}
.ant-popover-inner-content .all-download span {
  margin-right: 0;
}
.popover-nun {
  position: relative;
}
.popover-nun:after {
  content: attr(num);
  background-color: #fdc401;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #fff;
  font-family: 'GothamPro-Medium';
  font-size: 13px;
  line-height: 1;
  top: -18px;
  left: 20px;
}
