/* fonts */
/* COLORS */
/* VAR */
.timepicker-base {
  cursor: pointer;
  display: inline-block;
}
.timepicker-base-title {
  color: #999999;
  margin-bottom: 25px;
}
.timepicker-base-range {
  width: 100%;
  min-width: 340px;
}
.ant-time-picker-input {
  font-family: 'GothamPro';
  font-size: 14px;
  border: 0;
  cursor: pointer;
}
.ant-time-picker {
  min-width: 150px;
  max-width: 44%;
  border-bottom: 1px solid #ebebeb;
}
.ant-time-picker .ant-time-picker-icon:after {
  color: #0495ff;
}
