@import url("../../styles/variables");

.new-patient{
	position: relative;

	&-search{
		padding: 35px 25px;
	}

	&-title{
		font-size: 16px;
		line-height: 1;
		color: #333;
		margin-bottom: 25px;
		padding: 0 25px;
	}

	&-list{
		position: relative;
	    height: 255px;
	    overflow-y: auto;
	}
}