/* fonts */
/* COLORS */
/* VAR */
.entry-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: #eee;
}
.scrollarea .scrollbar-container.vertical {
  right: 10px;
}
.scrollarea .scrollbar-container.vertical .scrollbar {
  width: 6px;
  border-radius: 4px;
  background-color: #0495ff;
}
.scrollarea .scrollbar-container:hover,
.scrollarea .scrollbar-container.active {
  background-color: transparent;
}
.new-patient {
  position: relative;
}
.new-patient-search {
  padding: 35px 25px;
}
.new-patient-title {
  font-size: 16px;
  line-height: 1;
  color: #333;
  margin-bottom: 25px;
  padding: 0 25px;
}
.new-patient-list {
  position: relative;
  height: 255px;
}
.new-patient-list .no-patients {
  text-align: center;
  font-size: 18px;
  color: #909090;
}
