/* fonts */
/* COLORS */
/* VAR */
a {
  color: #204d8d;
}
a:hover {
  color: #204d8d;
  text-decoration: underline;
}
.personal-block {
  position: relative;
  margin-bottom: 40px;
}
.personal-block:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}
.personal-block:nth-child(2) .personal-item {
  max-width: 310px;
  margin-right: 30px;
}
.personal-block:nth-child(2) .personal-item:first-child {
  width: 100%;
  max-width: none;
}
.personal-item {
  position: relative;
  max-width: 650px;
  width: 100%;
}
.personal-title {
  width: 100%;
  color: #0495ff;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 0.14px;
  font-family: 'GothamPro-Medium';
}
