/* fonts */
/* COLORS */
/* VAR */
.ant-card-body {
  padding: 0 !important;
}
.schedule:nth-child(odd) {
  background-color: #f0f9ff;
}
.schedule-all .tableheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22.5px 32.5px;
  background-color: #fff;
  border: none;
}
.schedule-all .tableheader .ico-btn {
  display: flex;
}
