/* fonts */
/* COLORS */
/* VAR */
.profileAvatar {
  position: relative;
  display: inline-flex;
  border-radius: 100%;
}
.profileAvatar-indicator {
  position: absolute;
  border-radius: 100%;
}
.profileAvatar .profileImg {
  background-size: cover;
  background-position: 50%;
  border-radius: 100%;
}
.profileAvatar-size-small .profileImg {
  width: 46px;
  height: 46px;
  border: 1px solid #fff;
}
.profileAvatar-size-small .profileImg .profileAvatar-indicator {
  right: 2px;
  top: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
}
.profileAvatar-size-medium {
  margin-bottom: 20px;
}
.profileAvatar-size-medium .profileImg {
  width: 90px;
  height: 90px;
  border: 2px solid #fff;
}
.profileAvatar-size-medium .profileImg .profileAvatar-indicator {
  right: 14px;
  top: 2px;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
}
.profileAvatar-size-large {
  margin-bottom: 20px;
}
.profileAvatar-size-large .profileImg {
  width: 132px;
  height: 132px;
  border: 3px solid #fff;
}
.profileAvatar-size-large .profileImg .profileAvatar-indicator {
  right: 22px;
  top: 2px;
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
}
.profileAvatar-status-online {
  border: 2px solid #04c956;
}
.profileAvatar-status-online .profileAvatar-indicator {
  background-color: #04c956;
}
.profileAvatar-status-offline {
  border: 2px solid #d8d8d8;
}
.profileAvatar-status-offline .profileAvatar-indicator {
  background-color: #d8d8d8;
}
.profileAvatar-status-offline.profileAvatar-size-small {
  border: none;
}
.profileAvatar-status-offline.profileAvatar-size-small .profileAvatar-indicator {
  background-color: #ef5350;
}
.profileAvatar-owner-patient {
  border: none;
}
.profileAvatar-owner-patient .profileImg {
  border: none;
}
