/* fonts */
/* COLORS */
/* VAR */
.ant-radio-button-wrapper {
  display: inline-flex;
  padding: 0;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #fff;
  border: 1px solid transparent;
}
.ant-radio-button-wrapper:not(:last-child) {
  margin-right: 34px;
}
.ant-radio-button-wrapper::before {
  display: none !important;
}
.ant-radio-button-wrapper > span:nth-child(2) {
  margin: auto;
}
.ant-radio-button-wrapper:first-child {
  border-radius: 50%;
  border: 1px solid transparent;
}
.ant-radio-button-wrapper:last-child {
  border-radius: 50%;
  border: 1px solid transparent;
}
.ant-radio-button-wrapper:hover {
  border: 1px solid #465060;
  color: #465060;
}
.ant-radio-button-wrapper-checked {
  background-color: #0495ff;
  color: #fff;
}
