/* fonts */
@f-r: 'GothamPro';
@f-ri:'GothamPro-Italic';
@f-l:'GothamPro-Light';
@f-li: 'GothamPro-LightItalic';
@f-m: 'GothamPro-Medium';
@f-mi: 'GothamPro-MediumItalic';
@f-b: 'GothamPro-Bold';
@f-bi:'GothamPro-BoldItalic';
@f-bl:'GothamPro-Black';
@f-bli:'GothamPro-BlackItalic';
@fn-b: 'GothamProNarrow-Bold';
@fn-m: 'GothamProNarrow-Medium';

/* COLORS */
@grey: #d8d8d8;
@dark-blue: #344051;
@blue: #0495ff;
@yllw: #fdc401;
@yllw-h: #f1bb01;
@grad: linear-gradient(to right, #0270c0, #0a98ff);
@grad-h: linear-gradient(to right, @blue, @blue);


/* VAR */
@ease: 0.2s ease-out;

.ant{

	&-input{
		border: none;
		border-bottom: 1px solid #e1e1e1;
		border-radius: 0;
		outline: 0;
		color: #191919;
		font-size: 0.875rem;

		&-search{
			
			.ant-input{
				font-size: 0.75rem;
				border-radius: 2rem;
				height: 2.5rem;
				padding-left: 2rem;
				border: 1px solid #ebebeb;
			}

			&:not(.ant-input-search-small) > .ant-input-suffix{
				right: 1.5rem;
			}
		}

		&-suffix{

			&:hover{
				
				.ant-input-search-icon{
					color: @blue;
				}
			}
		}
	}
}