/* fonts */
/* COLORS */
/* VAR */
.input-root {
  border-bottom: 1px solid #e1e1e1;
}
.input-root-focus {
  border-bottom: 1px solid #0495ff;
}
.ant-input {
  border: none;
  border-radius: 0;
  outline: 0;
  color: #191919;
  font-size: 0.875rem;
  order: 2;
  padding: 0;
  height: 36px;
  font-family: 'GothamPro';
}
.ant-input:focus,
.ant-input:hover {
  box-shadow: none ;
}
.ant-input-group-addon {
  border: none;
  background-color: transparent;
  color: #777777;
  padding-left: 0;
}
