/* fonts */
/* COLORS */
/* VAR */
.review-root {
  margin-bottom: 15px;
  border-radius: 0;
  border-bottom: 1px dashed #e1e1e1;
  position: relative;
}
.review-root .review {
  display: flex;
  position: relative;
}
.review-root .review .flex-row {
  display: flex;
}
.review-root .review .ant-rate {
  margin-left: auto;
}
.review-root .review .profileAvatar {
  margin-top: 15px;
  margin-right: 14px;
}
.review-root .review .patient-info {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.review-root .review .patient-name {
  margin-right: 25px;
  color: #204d8d;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
  padding-left: 6px;
}
.review-root .review .patient-time {
  color: #999;
  font-size: 12px;
  margin-bottom: 15px;
}
.review-root .review .patient-text {
  font-size: 12px;
  color: #344051;
  padding: 0 6px;
  line-height: 20px;
  margin-bottom: 25px;
}
.review-root .review-answerBtn {
  position: absolute;
  bottom: 20px;
  right: 0;
}
.review-root .review-answerBtn-answer {
  min-width: 90px;
}
.review-root-comment {
  margin: 0 0 20px 90px;
}
.review-root-answerArea {
  margin: 0 0 20px 90px;
}
.reviewSec {
  display: flex;
}
.reviewSec-icon {
  display: inline-block;
  margin: 25px 30px 0 0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.reviewSec-body {
  background-color: #e6f5ff;
  padding: 15px 20px;
  border-radius: 6px;
  display: inline-block;
  max-width: 90%;
}
.reviewSec-body-time {
  color: #999;
  font-size: 12px;
  margin-bottom: 15px;
}
.reviewAnsw {
  display: flex;
}
.reviewAnsw-icon {
  display: inline-block;
  margin: 25px 30px 0 0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.reviewAnsw-body {
  display: inline-block;
  width: 90%;
}
.reviewAnsw-body button {
  display: flex;
  margin: 0 0 0 auto;
}
