/* fonts */
/* COLORS */
/* VAR */
a {
  color: #204d8d;
}
a:hover {
  color: #204d8d;
  text-decoration: underline;
}
.personal-education .personal-title {
  font-size: 12px;
  letter-spacing: 0px;
  text-transform: none;
}
.personal-education .personal-block {
  border-bottom: 1px solid #ebebeb;
  padding: 0px 100px 0;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
.personal-education .personal-block:last-child {
  align-items: self-start;
  margin-bottom: 0;
  border-bottom: 0;
}
.personal-education .personal-block .personal-item {
  max-width: 650px;
  margin-right: 0px;
  width: 100%;
}
.personal-education .personal-block .personal-item:first-child {
  width: 100%;
  max-width: none;
}
.personal-education .personal-btn {
  margin-bottom: 30px;
}
.personal-education .personal-edit {
  position: absolute;
  left: 300px;
  top: -0.625rem;
}
.personal-education .new-d {
  width: 100%;
  max-width: 650px;
}
.personal-education .new-d .personal-item {
  margin-bottom: 15px;
}
.personal-education .new-d .personal-item .ant-input-group-wrapper {
  margin-bottom: 25px;
}
.personal-education .new-d .personal-item .ant-select {
  margin-bottom: 25px;
}
.personal-education .datepicker-base {
  margin-bottom: 24px;
  display: block;
}
.personal-education .datepicker-base .ant-calendar-picker {
  width: 100%;
  max-width: 47.5%;
  border-bottom-color: #e1e1e1;
}
.personal-education .uploadContent {
  margin-bottom: 30px;
  display: block;
}
.personal-item {
  position: relative;
  max-width: 650px;
  width: 100%;
}
.personal-info {
  font-size: 14px;
  color: #344051;
}
.mb-35 {
  margin-bottom: 35px;
}
.pb-25 {
  padding-bottom: 25px;
}
.brd-b {
  border-bottom-width: 1px;
  border-bottom-color: #e1e1e1;
}
.brd-d {
  border-bottom-style: dashed;
}
