@import "../../styles/variables";

.textarea{

  &-label{
    margin-bottom: 15px;
    color: @dark-grey;
  }

  &-field{
    font-size: 14px;
    resize: none;
    height: 80px;
    width: 100%;
  }
}