/* fonts */
/* COLORS */
/* VAR */
.PanelItem {
  display: inline-block;
}
.PanelItem.first-col .PanelItem-header {
  margin-bottom: 0.25rem;
  flex-wrap: wrap;
}
.PanelItem.first-col .PanelItem-header .icon,
.PanelItem.first-col .PanelItem-header .anticon {
  color: #fff;
  margin-bottom: 0.25rem;
}
.PanelItem.first-col .PanelItem-header .panel-title {
  color: #fff;
  width: 100%;
  font-size: 28px;
}
.PanelItem.first-col .PanelItem-num {
  color: #fff;
  font-size: 1rem;
  font-family: 'GothamPro';
  text-align: left;
}
.PanelItem-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.PanelItem-header .icon,
.PanelItem-header .anticon {
  margin-right: 1.25rem;
  color: #fdc401;
}
.PanelItem-header .panel-title {
  font-size: 1.25rem;
  color: #344051;
  white-space: nowrap;
}
.PanelItem-num {
  color: #0495ff;
  font-size: 50px;
  font-family: 'GothamPro-Light';
  text-align: right;
  display: block;
  width: 100%;
  line-height: 1;
}
