/* fonts */
/* COLORS */
/* VAR */
.arrowsGroup {
  display: inline-flex;
}
.arrowsGroup .arrow {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
  font-family: 'GothamPro';
  padding: 0.375rem 0.5rem;
  transition: 0.2s ease-out;
}
.arrowsGroup .arrow:first-child {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.arrowsGroup .arrow:last-child {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-left: none;
}
.arrowsGroup .arrow i {
  font-weight: 700;
}
.arrowsGroup .arrow-type-float {
  background-color: #fff;
  color: #0495ff;
}
.arrowsGroup .arrow-type-float:hover {
  background-color: #0495ff;
  color: #fff;
}
.arrowsGroup .arrow-type-float:before,
.arrowsGroup .arrow-type-float:after {
  content: "";
  position: absolute;
}
.arrowsGroup .arrow-type-float:before {
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background-image: -webkit-gradient(radial, right top, 10, 90% 0%, 150, from(#344051), to(#0495ff));
  z-index: -2;
  border-radius: 2rem;
}
.arrowsGroup .arrow-type-float:after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  border-radius: 2rem;
  z-index: -1;
}
.arrowsGroup .arrow-type-blue {
  background-color: #e1f2fe;
  color: #204d8d;
}
.arrowsGroup .arrow-type-blue:hover {
  color: #fff;
  background-color: #0495ff;
}
.arrowsGroup .arrow-type-dark-blue {
  background-color: transparent;
  color: #344051;
  border: 1px solid #344051;
}
.arrowsGroup .arrow-type-dark-blue:hover {
  color: #fff;
  background-color: #344051;
}
.arrowsGroup .arrow-type-yellow {
  background-color: #fdc401;
  color: #344051;
}
.arrowsGroup .arrow-type-yellow:hover {
  background-color: #f1bb01;
}
.arrowsGroup .arrow-type-gradient {
  background: linear-gradient(to right, #0270c0, #0a98ff);
  color: #fff;
}
.arrowsGroup .arrow-type-gradient:hover {
  background: linear-gradient(to right, #0495ff, #0495ff);
}
.arrowsGroup .arrow-type-gradient[disabled] {
  background: #bbbbbb;
}
.arrowsGroup .arrow[disabled] {
  background-color: #bbbbbb;
  color: #fff;
  cursor: default;
  pointer-events: none;
}
