@import "../../styles/variables";

:global(.ant-menu-item){
  padding-left: 0 !important;
}

.ant-menu-item-selected{
  background-color: transparent !important;
  &:after{
    //transform: none !important;
    //content: none;
    //border: transparent;
  }

  .sidenav-root-menu-item{
    width: 240px;
    height: 63px;
    background-color: @blue;
    border-radius: 31.5px;

  }
}



.ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after{
  border: none;
}


.sidenav-root{
  width: 340px;
  position: relative;

  &-short{
    width: 170px;
    position: relative;

    .sidenav-root-menu{

    }
  }

  &-menu{

    &-item{
      padding-left: 66px;
      font-size: 16px;
      font-family: @f-m;
      & > .icon{
        margin-right: 30px;
      }
    }

    &-item-short{
      display: flex;

      font-size: 16px;
      font-family: @f-m;

      & > .item-title{
        display: none;
      }
      & > .icon{
        margin: auto;
      }
    }
  }

  &-btn{
    position: absolute;
    right: -11px;
    top: -11px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    outline-width: 0;
    border: 0;
    padding: 0;
    z-index: 100;
    cursor: pointer;
  }
}