@import "../../styles/variables";

:global(.ant-menu-item){
  padding: 0 !important;
  display: flex;
  overflow: visible !important;
  height: 62px !important;
  margin: 5px 0 !important;

  & > a {
    margin: auto 0 auto 66px;
  }
}

.ant-menu-item-selected{
  background-color: transparent !important;
}

.ant-menu-inline .ant-menu-item:after{
  border: none;
}

.selNav(){
  display: flex !important;
  background-color: @blue;
  box-shadow: 5px 5px 27px rgba(4, 149, 255, 0.44);
}

.sidenav-root{
  width: 340px;
  position: relative;

  &-short{
    width: 170px;
    position: relative;
  }

  &-menu{
    .selectedNavLink{
      .selNav();
      width: 250px;
      height: 60px;
      border-radius: 31.5px;

      & > .sidenav-root-menu-item{
        margin: auto 0 auto 25px !important;
      }
    }

    &-item{
      font-size: 16px;
      font-family: @f-m;
      display: flex;
      & > .icon{
        margin: auto 20px auto 0;
      }

      //&-selected{
      //  background-color: @blue;
      //}
    }
  }
  &-menu-short{
    .selectedNavLink{
      .selNav();
      width: 60px;
      height: 60px;
      border-radius: 50%;

      & > .sidenav-root-menu-item{
        margin: auto !important;
      }
    }

    .sidenav-root-menu-item{
      display: flex;

      font-size: 16px;
      font-family: @f-m;

      & > .item-title{
        display: none;
      }
      & > .icon{
        margin: auto;
      }
    }
  }

  &-btn{
    position: absolute;
    right: -11px;
    top: -11px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    outline-width: 0;
    border: 0;
    padding: 0;
    z-index: 100;
    cursor: pointer;
  }
}