/* fonts */
/* COLORS */
/* VAR */
.entry-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: #eee;
}
.notification-card {
  width: 415px;
  margin-top: 20px;
  margin-left: -45px;
}
.notification-card .ant-card-head {
  background-color: #fdc401;
}
