/* fonts */
/* COLORS */
/* VAR */
.entry-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: #eee;
}
.notific_component {
  position: relative;
}
.notific_component .notification {
  position: absolute;
}
.notification-card {
  margin-left: -350px;
  width: 425px;
}
.notification-card .ant-card-head {
  background-color: #fdc401;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 22.5px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
}
.notification-card .scroll {
  max-height: 65vh;
}
