@import url("../../styles/variables");

.notific_component{
  position: relative;
  .notification{
    position:absolute;
   
  }
}

.notification{
  
  &-card{
    margin-left: -350px;
    		width: 425px;
		.ant-card-head{
			background-color: #fdc401;
            position: sticky;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 22.5px 0;
            border-top: 1px solid #ebebeb;
            border-bottom: 1px solid #ebebeb;
            left: 0;
            right: 0;
            top: 0;
            z-index: 9;
		}
        .scroll {
          max-height: 65vh;
        }
	}
}
