/* fonts */
/* COLORS */
/* VAR */
.entry-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: #eee;
}
.notific_component {
  position: relative;
}
.notific_component .notification {
  position: absolute;
}
.notification-card {
  position: fixed;
  top: 28%;
  margin-left: -350px;
  width: 415px;
}
.notification-card .ant-card-head {
  background-color: #fdc401;
}
