/* fonts */
/* COLORS */
/* VAR */
.ant-select {
  font-family: 'GothamPro';
  color: #999;
  display: block;
}
.ant-select-selection {
  border: none;
  border-bottom: 1px solid #ebebeb;
  border-radius: 0;
}
.ant-select-selection__rendered {
  margin-left: 0;
}
