/* fonts */
/* COLORS */
/* VAR */
.newMessageModal {
  padding: 20px 30px 40px 30px;
}
.newMessageModal-user {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
}
.newMessageModal-user-icon {
  position: absolute;
  display: inline-block;
}
.newMessageModal-user-name {
  margin-left: 40px;
  display: inline-block;
  font-family: 'GothamPro-Medium';
  font-size: 14px;
  color: #344051;
  line-height: 18px;
}
.newMessageModal-txtarea {
  margin-bottom: 12px;
}
.newMessageModal-upload {
  display: block;
  margin-bottom: 35px;
}
