/* fonts */
/* COLORS */
/* VAR */
.link {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  color: #204d8d;
  font-size: 14px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.link .icon {
  margin-right: 1rem;
}
.link:visited {
  color: #344051;
}
.link:hover {
  color: #204d8d;
}
.link:hover span {
  text-decoration: underline;
}
.link:hover .icon {
  text-decoration: none;
}
.link:active,
.link:focus {
  color: #344051;
}
.link:active .icon,
.link:focus .icon {
  color: #b7b7b7;
}
