@import "../../styles/variables";

.ant{
  &-modal{

    &-header{
      background-color: @blue;
      color: @white;

      .ant-modal-title{
        color: @white;
        font-size: 20px;
      }
    }

    &-close{
      &-x{
        color: @white;
      }
    }
  }
}