/* COLORS */
:global(.ant-modal-body) {
  padding: 20px 30px 30px 30px;
}
.ant-modal-header {
  background-color: #0495ff;
  color: #fff;
}
.ant-modal-header .ant-modal-title {
  color: #fff;
  font-size: 20px;
}
.ant-modal-close-x {
  color: #fff;
}
