/* fonts */
/* COLORS */
/* VAR */
.ant-modal-body {
  padding: 0;
  position: relative;
}
.ant-modal-title {
  font-family: 'GothamPro';
}
.ant-modal-header {
  background-color: #0495ff;
  color: #ffffff;
}
.ant-modal-header .ant-modal-title {
  color: #ffffff;
  font-size: 20px;
}
.ant-modal-close-x {
  color: #ffffff;
}
.ant-modal.warning .ant-modal-header {
  background-color: #fdc401;
  color: #ffffff;
}
.ant-modal.warning .icon {
  position: absolute;
  color: #ffffff;
  top: -40px;
  right: 35px;
}
