/* fonts */
/* COLORS */
/* VAR */
.entry-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: #eee;
}
.doctorProfileCard {
  width: 340px;
  text-align: center;
  padding: 30px 20px;
}
.doctorProfileCard-name {
  margin-bottom: 15px;
  font-size: 16px;
}
.doctorProfileCard-specialty {
  color: #204d8d;
  font-size: 12px;
  margin-bottom: 37px;
  text-transform: uppercase;
  font-family: 'GothamPro-Medium';
}
.doctorProfileCard-short {
  width: 170px;
  text-align: center;
  padding: 35px 15px 30px 15px;
}
.patientProfileCard {
  width: 340px;
  text-align: center;
  padding: 30px 20px 15px 20px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 40px;
}
.patientProfileCard-short {
  width: 170px;
  text-align: center;
  padding: 30px 20px 15px 20px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 40px;
}
