/* fonts */
/* COLORS */
/* VAR */
.top-panel {
  position: relative;
  overflow: hidden;
  padding: 2.25rem 0;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
}
.top-panel:before {
  content: '';
  background-color: #fdc401;
  width: 100vw;
  height: 100vw;
  border: none;
  border-radius: 100%;
  position: absolute;
  left: -61vw;
  top: -12vw;
}
.flexCol {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
