/* fonts */
/* COLORS */
/* VAR */
.chat-card {
  position: relative;
  max-width: calc(100% - 20px);
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.1);
}
.chat-card-head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #0495ff;
  border-radius: 2px;
}
.chat-card-title {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 25px;
}
.chat-card-title .btn {
  margin-right: 25px;
  padding: 0;
  min-width: auto;
}
.chat-card-title .btn .icon {
  color: #fff;
  margin-right: 0;
}
.chat-card-btns {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.chat-card-btns .ant-radio-group {
  padding: 10px 0;
}
.chat-card-btns .ant-radio-button-wrapper {
  width: 33px;
  height: 33px;
  background-color: transparent;
}
.chat-card-btns .ant-radio-button-wrapper .icon {
  color: #fff;
}
.chat-card-btns .ant-radio-button-wrapper-checked {
  background-color: #fff;
}
.chat-card-btns .ant-radio-button-wrapper-checked .icon {
  color: #0495ff;
}
.chat-card-btns .ant-radio-button-wrapper:hover {
  background-color: #fff;
  border: none;
}
.chat-card-btns .ant-radio-button-wrapper:hover .icon {
  color: #0495ff;
}
.chat-card-archive {
  background-color: #204d8d;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px 19.785px;
  margin-left: 25px;
}
.chat-card-archive .btn {
  padding: 0;
  min-width: auto;
}
.chat-card-archive .btn .icon {
  color: #fff;
  margin-right: 0;
  font-size: 15px !important;
}
.chat-card-archive .btn:hover {
  background-color: transparent;
}
.chat-card-archive .btn:hover .icon {
  color: #0495ff;
}
.chat-card-namePatient {
  font-size: 18px;
  color: #fff;
  margin-right: 35px;
  line-height: 1;
}
.chat-card-status {
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 9px;
  border-radius: 16px;
  text-transform: capitalize;
  font-size: 12px;
  font-family: 'GothamPro';
  line-height: 1;
}
.chat-card-status:before {
  content: '';
  display: flex;
  width: 7px;
  height: 7px;
  margin-right: 7px;
  border-radius: 50%;
}
.chat-card-offline {
  color: #ef5350;
}
.chat-card-offline:before {
  background-color: #ef5350;
}
.chat-card-online {
  color: #00c853;
}
.chat-card-online:before {
  background-color: #00c853;
}
.chat-card-body {
  display: flex;
  height: 750px;
}
.chat-card-dialogs {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  transition: 0.2s ease-out;
  display: flex;
  flex-direction: column;
}
.chat-card-files {
  background-color: #fff;
  width: 0;
  transition: 0.2s ease-out;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.chat-card-files__close {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  z-index: 1;
  order: 1;
  background-color: #fff;
}
.chat-card-files__close .btn .icon {
  color: #344051;
  margin-right: 0;
  font-size: 8px !important;
}
.chat-card-files__close .btn:hover {
  background-color: transparent;
}
.chat-card-files__close .btn:hover .icon {
  color: #0495ff;
}
.chat-card-files__items {
  position: relative;
  width: 100%;
  height: calc(100% - 65px);
  z-index: 2;
  background-color: #fff;
  order: 2;
}
.chat-card-files-active {
  width: 100%;
  max-width: 332px;
  margin-right: -30px;
  box-shadow: 0px 0 55px 0 rgba(0, 0, 0, 0.1);
}
.chat-card-message__area {
  position: relative;
  height: 100%;
  max-height: 678px;
}
.chat-card-message__send {
  margin-top: auto;
  z-index: 3;
}
.chat-card-message__box {
  padding: 30px 30px 5px;
  position: relative;
  background-color: #fff;
  overflow-y: auto;
  height: 100%;
}
.chat-card-message__overlay {
  position: relative;
}
