/* fonts */
/* COLORS */
/* VAR */
.ant-calendar-picker-input {
  border: none;
}
.ant-calendar-picker-icon:after {
  color: #0495ff;
}
.ant-calendar-picker-clear {
  color: #d8d8d8;
}
.ant-calendar-picker-clear:hover {
  color: #0495ff;
}
.datepicker-base {
  cursor: pointer;
  display: inline-block;
}
.datepicker-base-range {
  width: 100%;
  min-width: 340px;
}
.datepicker-base-range-chosen input {
  color: #0495ff;
}
.datepicker-base-range-delim {
  display: inline-block;
  width: 30px;
  text-align: center;
}
.datepicker-base > i {
  font-size: 35px;
}
.datepicker-base .ant-calendar-picker-clear,
.datepicker-base .ant-calendar-picker-icon {
  position: absolute;
  right: 5px;
}
.ant-calendar-picker {
  min-width: 150px;
  max-width: 44%;
  border-bottom: 1px solid #ebebeb;
}
.ant-calendar-picker-input {
  font-size: 14px;
  cursor: pointer;
  height: 35px;
}
