/* fonts */
/* COLORS */
/* VAR */
.ant-checkbox {
  margin-right: 14px;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: #d7d7d7;
}
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #000;
}
.ant-checkbox-inner {
  border-color: #d7d7d7;
  width: 24px;
  height: 24px;
}
.ant-checkbox-inner:after {
  width: 8px;
  height: 15px;
  left: 6px;
}
.ant-checkbox + span {
  color: #344051;
  font-size: 14px;
  font-family: 'GothamPro';
  padding: 0;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #000;
  border-color: #000;
}
.ant-checkbox-checked:after {
  border-color: #000;
}
.ant-checkbox-checked:focus + .ant-checkbox-inner {
  border-color: #d7d7d7;
}
.ant-checkbox-checked + span {
  color: #333;
}
