/* fonts */
/* COLORS */
/* VAR */
.message__send {
  display: flex;
  align-content: center;
  background-color: #f5f6fa;
  padding: 14px 0;
}
.message__send-smileys {
  display: flex;
  align-items: flex-start;
  padding-left: 30px;
  margin-right: 25px;
}
.message__send-smileys .btn {
  min-width: auto;
}
.message__send-smileys .btn .icon {
  font-size: 24px !important;
  color: #cccccc;
  margin-right: 0;
  font-weight: 300;
}
.message__send-smileys .btn:hover {
  background-color: transparent;
}
.message__send-smileys .btn:hover .icon {
  color: #0495ff;
}
.message__send-area {
  position: relative;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  padding-top: 12px;
}
.message__send-area .ant-input {
  position: relative;
  background-color: transparent;
  line-height: 22px;
  font-size: 14px;
  color: #ccc;
  min-height: 32px;
  max-height: 110px;
  overflow-y: auto !important;
  max-height: 110px !important;
}
.message__send-area:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 17px;
  display: block;
  background-color: #f5f6fa;
}
.message__send-btns {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  padding-right: 40px;
}
.message__send-btns .btn {
  min-width: auto;
  margin-right: 20px;
}
.message__send-btns .btn .icon {
  font-size: 24px !important;
  color: #cccccc;
  margin-right: 0;
  font-weight: 300;
}
.message__send-btns .btn:hover {
  background-color: transparent;
}
.message__send-btns .btn:hover .icon {
  color: #0495ff;
}
.message__send-btns .btn-type-blue {
  background-color: #0495ff;
  padding: 8px;
  margin-right: 40px;
}
.message__send-btns .btn-type-blue .icon {
  color: #fff;
}
.message__send-btns .btn-type-blue:hover {
  background-color: #204d8d;
}
.message__send-btns .btn-type-blue:hover .icon {
  color: #fff;
}
.message__send-btns .btn-type-yellow {
  margin-right: 0;
  white-space: nowrap;
  width: auto;
  padding: 15px 1.25rem;
}
.message__send-btns .btn-type-yellow:hover {
  background-color: #f1bb01;
}
.message__send-send {
  background-image: url('send.svg');
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}
