/* fonts */
/* COLORS */
/* VAR */
.upload {
  display: flex;
}
.upload-block {
  display: inline-flex;
  flex-wrap: wrap;
}
.upload .ant-upload-list {
  display: flex;
  flex-wrap: wrap;
}
.upload .ant-upload-list-item {
  padding: 0;
  border: none;
  border-radius: 2px;
  width: 310px;
  height: 70px;
}
.upload .ant-upload-list-item-actions {
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: translate(-425%, -50%);
}
.upload .ant-upload-list-item-actions a {
  display: none;
}
.upload .ant-upload-list-item-actions .anticon {
  opacity: 1;
  color: #000;
  content: "\E664";
}
.upload .ant-upload-list-item-info {
  width: 310px;
}
.upload .ant-upload-list-item-info:before {
  font-family: "anticon";
  background-color: #e1e1e1;
  font-size: 50px;
  text-align: center;
  content: "\E664";
}
.upload .ant-upload-list-item-info > span {
  display: flex;
}
.upload .ant-upload-list-item-info:before {
  opacity: 1;
  border-radius: 2px;
  width: 100px;
  height: 70px;
}
.upload .ant-upload.ant-upload-select-picture-card {
  height: 70px;
  width: 100px;
  background-color: #fff;
  border: none;
}
.upload .ant-upload.ant-upload-select-picture-card:hover .icon {
  color: #333;
}
.upload .ant-upload.ant-upload-select-picture-card .icon {
  color: #d1d1d1;
}
.upload .ant-upload-list-picture-card .ant-upload-list-item-name {
  display: block;
  width: 50%;
  padding: 0;
  font-family: 'GothamPro';
  color: #5a5a5a;
  font-size: 12px;
  line-height: 20px;
}
.upload .ant-upload-list-picture-card .ant-upload-list-item-thumbnail {
  width: 100px;
  height: 70px ;
}
