/* fonts */
/* COLORS */
/* VAR */
.rateIndicator {
  width: 485px;
  height: 260px;
  position: relative;
}
.rateIndicator-main {
  width: 460px;
  height: 240px;
  border-radius: 0 115px;
  position: absolute;
  z-index: 9;
  background-color: white;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.09);
  padding: 45px;
  text-align: center;
}
.rateIndicator-main-title {
  font-family: 'GothamPro-Medium';
  font-size: 20px;
  margin-bottom: 35px;
}
.rateIndicator-main .ratePanel {
  font-family: 'GothamPro-Medium';
  font-size: 24px;
  margin-bottom: 25px;
}
.rateIndicator-main .ratePanel .value {
  margin-right: 40px;
}
.rateIndicator-main .ratePanel .times {
  display: none;
}
.rateIndicator-main-reviewsNum .icon {
  margin-right: 13px;
}
.rateIndicator-behind {
  width: 460px;
  height: 240px;
  border-radius: 0 115px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fbdd78;
}
