@import url("../../styles/variables");

.diseases{
	
	&:nth-child(even){
		background-color: #f0f9ff;
	}

	&-all{
		
		.ant-card-head{
			background-color: #fdc401;
		}

		.ant-card-extra{
			padding-right: 27px;

			.right-icon{

				.icon{
					color: #fff;
				}
			}
		}

		.ant-card-body{
			padding-top: 13px !important;
			max-height: 223px;
			overflow-y: auto;
		}
	}
}

