/* fonts */
/* COLORS */
/* VAR */
.entry-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: #eee;
}
.rbc-time-view,
.rbc-month-view {
  background-color: #ffffff;
}
.rbc-toolbar {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  font-size: 20px;
}
.rbc-toolbar .arrowsGroup {
  margin-left: 20px;
  background-color: transparent;
}
.rbc-toolbar-label {
  margin-left: 20px;
  text-transform: capitalize;
}
.rbc-toolbar-receptionCount {
  margin: auto auto auto 10px;
  height: 20px;
  width: auto;
  font-size: 12px;
  color: white;
  background-color: #0495ff;
  border-radius: 10px;
  padding: 0 10px;
}
.rbc-header {
  font-size: 12px;
  color: #344051;
  display: flex;
  min-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rbc-header > span {
  margin: auto;
  text-transform: capitalize;
}
.rbc-month-row {
  min-height: 135px;
}
.rbc-date-cell {
  text-align: left;
  padding: 15px 0 0 15px;
  z-index: 7;
}
.rbc-row {
  height: 100%;
}
.month-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.rbc-month-row {
  cursor: pointer;
}
.rbc-month-row .month-row-segment {
  display: flex;
  font-size: 32px;
  height: 100px;
}
.rbc-month-row .month-row-segment-content {
  margin: 0 auto;
}
.rbc-month-row .month-row-segment-content .icon-count {
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background-color: #dddddd;
}
.rbc-month-row .month-row-segment .root_schedule {
  width: 100%;
  height: 135px;
  box-sizing: border-box;
  position: relative;
  top: -36px;
  padding-top: 40px;
  border: 1px solid transparent;
  border-left: 1px solid #ddd;
  background-color: #fff;
}
.rbc-month-row .month-row-segment .root_schedule:hover {
  border: #85cafd 1px solid;
}
.rbc-month-row .month-row-segment .root_schedule.no-edit:hover {
  border: #f25328 1px solid;
}
.rbc-month-row .month-row-segment .root_schedule > .icon-no {
  color: #f25328;
}
.rbc-month-row .month-row-segment .root_schedule > .icon {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}
.rbc-month-row .month-row-segment-schedule {
  display: table;
  position: relative;
  width: 100%;
  background-color: white;
  z-index: 2;
}
.rbc-month-row .month-row-segment-schedule .schedule-time {
  display: table-row;
}
.rbc-month-row .month-row-segment-schedule .schedule-time-item {
  display: table-cell;
  font-size: 14px;
  color: #344051;
}
.rbc-month-row .month-row-segment-schedule .schedule-time-item.empty {
  width: 35%;
}
.rbc-month-row .month-row-segment-schedule .schedule-emrgtime {
  display: table-row;
}
.rbc-month-row .month-row-segment-schedule .schedule-emrgtime-item {
  display: table-cell;
  font-size: 14px;
  color: #f25328;
}
.rbc-month-row .month-row-segment-schedule .schedule-emrgtime-item.with-sign {
  width: 35%;
  display: flex;
  height: 100%;
}
.rbc-month-row .month-row-segment-schedule .schedule-emrgtime-item.with-sign div {
  display: inline-block;
  margin-left: auto;
}
.rbc-month-row .month-row-segment-coming .month-row-segment-content {
  color: #0495ff;
}
.rbc-month-row .month-row-segment-coming .icon-count {
  background-color: #0495ff;
}
.rbc-label.rbc-header-gutter.rbc-clock-icon {
  width: 10%;
  max-width: 90px;
  display: flex;
  color: #0495ff;
}
.rbc-label.rbc-header-gutter.rbc-clock-icon .icon {
  margin: auto;
}
.rbc-time-gutter.rbc-time-column {
  width: 10%;
  max-width: 90px;
}
.rbc-day-slot.rbc-time-column .rbc-timeslot-group {
  font-family: 'icon' !important;
  color: #b6e0ff;
  font-size: 25px;
  text-align: center;
  height: 52px;
  line-height: 52px;
}
.rbc-day-slot.rbc-time-column .rbc-timeslot-group-NOT {
  background-color: #d7d7d7;
}
.rbc-day-slot.rbc-time-column .rbc-timeslot-group-OK:hover {
  position: relative;
  z-index: 5;
  background-color: #f1f9ff;
  border: 1px #85cafd dashed;
  cursor: pointer;
}
.rbc-day-slot.rbc-time-column .rbc-timeslot-group-OK:hover:before {
  content: "\E900";
}
.rbc-time-slot.rbc-label {
  color: #0495ff;
  display: flex;
}
.rbc-time-slot.rbc-label > span {
  margin: auto;
}
.rbc-header {
  cursor: pointer;
}
.rbc-header .header-month {
  margin: auto;
}
.rbc-header .header-week-weekday {
  font-size: 12px;
}
.rbc-header .header-week-day {
  font-size: 14px;
  text-align: center;
}
.rbc-header.rbc-today {
  background-color: #fefcf4;
}
.rbc-header.rbc-today .header-week > div {
  font-family: 'GothamPro-Bold';
}
.rbc-day-slot.rbc-today.rbc-time-column {
  background-color: #fefcf4;
}
.rbc-day-slot .rbc-event-content {
  line-height: 1.3;
  background-color: #0495ff;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  padding: 6px 20px;
  color: #ffffff;
  font-size: 12px;
}
.rbc-day-slot .rbc-event {
  display: flex;
  border: transparent 4px solid;
  background-color: transparent;
  width: 100%;
  position: absolute;
  z-index: 6;
}
.calendar-editor .rbc-selected-cell {
  font-family: 'icon' !important;
  color: #b6e0ff;
  font-size: 25px;
  text-align: center;
  height: 135px;
  line-height: 130px;
  position: relative;
  z-index: 1;
  background-color: #f1f9ff;
  border: 1px #85cafd dashed;
  cursor: pointer;
}
.calendar-editor .rbc-selected-cell:before {
  content: "\E900";
}
