@import url("../../styles/variables");


.rbc-toolbar {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  font-size: 20px;

  .arrowsGroup{
    margin-left: 20px;
  }
  &-label {
    margin-left: 20px;
    text-transform: capitalize;
  }
  &-receptionCount{
    margin: auto auto auto 10px;
    height: 20px;
    width: auto;
    font-size: 12px;
    color: white;
    background-color: @blue;
    border-radius: 10px;
    padding: 0 10px;
  }

}

.rbc-header{
  font-size: 12px;
  color: @dark-blue;
  display: flex;
  min-height: 60px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  & > span {
    margin: auto;
    text-transform: capitalize;
  }
}


.rbc-month-row{
  min-height: 130px;
}
.rbc-date-cell{
  text-align: left;
  padding: 15px 0 0 15px;
}
.rbc-row-segment{
  display: flex;

  .rbc-month-receptionNum{
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    font-size: 32px;
    cursor: pointer;
    color: #dddddd;

    .icon-count{
      display: inline-block;
      text-align: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: white;
      background-color: #dddddd;
    }

    &-coming{
      color: @blue;

      .icon-count{
        background-color: @blue;
      }
    }
  }
}


.rbc-month-row{
  cursor: pointer;
}

.rbc-label.rbc-header-gutter.rbc-clock-icon{
  width: 10%;
  max-width: 90px;
  display: flex;
  color: @blue;
  .icon{
    margin: auto;
  }
}

.rbc-time-gutter.rbc-time-column{
  width: 10%;
  max-width: 90px;
}

.rbc-header{
  cursor: pointer;

  .header-month{
    margin: auto;
  }
  .header-week{
    &-weekday{
      font-size: 12px;
      //text-align: center;
    }
    &-day{
      font-size: 14px;
      text-align: center;
    }
  }
}
.rbc-header.rbc-today{
  background-color: #fefcf4;
  .header-week > div{
    font-family: @f-b;
  }
}

.rbc-day-slot.rbc-today.rbc-time-column{
  background-color: #fefcf4;
}
